/* app css stylesheet */


.whiteclr {
    background-color: #ffffff;
}

.emph {
    font-weight: bold;
    font-size: 18px;
}

.clickable {
    cursor: pointer;
}

.elem {
    padding-bottom: 5px;
    padding-top: 5px;
}

.opened > .title:before {
    content: '▼ ';
}
.closed > .title:before {
    content: '► ';
}

.filler {
    height:100px;
}

.layerList {
    background-color: #ddddee;
}

.annotDisplay {
    background-color: #ffff99;
}

.padded {
    padding: 10px;
}

span.label {
    background-color: #6f6f6f;
    font-size: 14pt;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.axis {
    font-size: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.scroll-pane {
    height: 200px;
    outline: none;
}

.cm-slidable-axis {
    cursor: pointer;
}

