/* app css stylesheet */


.whiteclr {
    background-color: #ffffff;
}

.emph {
    font-weight: bold;
    font-size: 18px;
}

.clickable {
    cursor: pointer;
}

.elem {
    padding-bottom: 5px;
    padding-top: 5px;
}

.opened > .title:before {
    content: '▼ ';
}
.closed > .title:before {
    content: '► ';
}

.filler {
    height:100px;
}

.layerList {
    background-color: #ddddee;
}

.annotDisplay {
    background-color: #ffff99;
}

