<div ng-controller="RegressionCtrl">

    <div class="form-group container">

        <div class="container">

            <!-- Corpus selection -->
            <div class="col-xs-6 cm-selector">
                <label>Corpus: </label>
                <select class="form-control" ng-model='model.selected_corpus' ng-init="get_corpora()">
                    <option ng-repeat='corpus in model.available_corpora' value={{corpus._id}}>{{corpus.name}}</option>
                </select>
            </div>

            <!-- Medium selection -->
            <div class="col-xs-6 cm-selector" ng-show='model.selected_corpus'>
                <label>Media: </label>
                <select class="form-control" ng-model='model.selected_medium'>
                    <option ng-repeat='medium in model.available_media' value={{medium._id}}>{{medium.name}}</option>
                </select>
            </div>

        </div>

        <div class="container">

            <!-- Reference selection -->
            <div class="col-xs-4 cm-selector" ng-show='model.selected_medium'>
                <label>Reference: </label>
                <select class="form-control" ng-model='model.selected_reference' >
                    <option ng-repeat='layer in model.available_layers' value={{layer._id}}>{{layer.layer_type}}</option>
                </select>
            </div>

            <!-- First hypothesis selection -->
            <div class="col-xs-4 cm-selector" ng-show='model.selected_medium'>
                <label>1st Hypothesis: </label>
                <select class="form-control" ng-model='model.selected_before'>
                    <option ng-repeat='layer in model.available_layers' value={{layer._id}}>{{layer.layer_type}}</option>
                </select>
            </div>

            <!-- Second hypothesis selection -->
            <div class="col-xs-4 cm-selector" ng-show='model.selected_medium'>
                <label>2nd Hypothesis: </label>
                <select class="form-control" ng-model='model.selected_after'>
                    <option ng-repeat='layer in model.available_layers' value={{layer._id}}>{{layer.layer_type}}</option>
                </select>
            </div>

        </div>

    </div>

    <div class="text-center container">

        <video id="player"
               preload="auto"
               width="50%"
               src="{{model.video}}"
               controls
               ng-show="model.selected_medium">
        </video>

        <cm-timeline></cm-timeline>
        <div id="detailedView">
            <button ng-click="displayPiechart()" ng-show='model.selected_after'>Display piechart</button>

            <select class="form-control" ng-model='model.selected_layer' ng-show='model.display_piechart' style="width: 200px;">
                <option value='' disabled>-- Select a layer --</option>
                <option ng-repeat='layer in model.layers' value={{$index}}>{{layer.label}}</option>
            </select>

            <cm-piechart ng-show="model.display_piechart"></cm-piechart>
            <cm-piechart-legend ng-show="model.display_piechart"></cm-piechart-legend>

        </div>
    </div>

</div>
