/* app css stylesheet */

.whiteclr {
    background-color: #ffffff;
}

.emph {
    font-weight: bold;
    font-size: 18px;
}

.clickable {
    cursor: pointer;
}

.elem {
    padding-bottom: 5px;
    padding-top: 5px;
}

.opened > .title:before {
    content: '▼ ';
}

.closed > .title:before {
    content: '► ';
}

.filler {
    height: 100px;
}

.layerList {
    background-color: #ddddee;
}

.annotDisplay {
    background-color: #ffff99;
}

.padded {
    padding: 10px;
}

span.label {
    background-color: #6f6f6f;
    font-size: 14pt;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.axis {
    font-size: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.scroll-pane {
    height: 200px;
    outline: none;
}

.cm-slidable-axis {
    cursor: pointer;
}

.cm-dropdown li {
    width: 100% !important; /* override the even-3 behavior */
}

.inactive {
    opacity: 0.3;
}

.cm-selector {
    display: table;
}

.cm-selector label {
    display: table-cell;
    vertical-align: middle;
}

.cm-selector select {
    display: table-cell;
}

.cm-infomsg {
    color: white;
}

.cm-errmsg {
    color: red;
}

div.tooltip, div.piecharttooltip, div.treeemaptooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    stroke: black;
    fill: white;
    background: white;
    border: solid 1px;
    pointer-events: none;
}

/*.node {*/
    /*border: solid 1px white;*/
    /*font: 10px sans-serif;*/
    /*line-height: 12px;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*text-indent: 2px;*/
/*}*/

g.slice {
    cursor: pointer;
}

rect.legend, rect.barchart-bar {
    cursor: pointer;
}

.position-fixed {
    position: fixed;
}

