
<div ng-controller="DiffCtrl">

    <div class="form-group container">

        <!-- http://stackoverflow.com/questions/8605516/default-select-option-as-blank
        for not having a selectable "dummy option" -->
        <!-- cm-selector allows the inline display of the selector and its associated label -->

        <div class="container">

            <!-- Corpus selection -->
            <div class="col-xs-6 cm-selector">
                <label>Corpus: </label>
                <select class="form-control" ng-model='model.selected_corpus' ng-init="get_corpora()">
                    <option ng-repeat='corpus in model.available_corpora' value={{corpus._id}}>{{corpus.name}}</option>
                </select>
            </div>

            <!-- Medium selection -->
            <div class="col-xs-6 cm-selector" ng-show='model.selected_corpus'>
                <label>Medium: </label>
                <select class="form-control" ng-model='model.selected_medium'>
                    <option ng-repeat='medium in model.available_media' value={{medium._id}}>{{medium.name}}</option>
                </select>
            </div>

        </div>

        <div class="container">

            <!-- Reference selection -->
            <div class="col-xs-6 cm-selector" ng-show='model.selected_medium'>
                <label>Reference: </label>
                <select class="form-control" ng-model='model.selected_reference' >
                    <option ng-repeat='layer in model.available_layers' value={{layer._id}}>{{layer.layer_type}}</option>
                </select>
            </div>

            <!-- Hypothesis selection -->
            <div class="col-xs-6 cm-selector" ng-show='model.selected_medium'>
                <label>Hypothesis: </label>
                <select class="form-control" ng-model='model.selected_hypothesis' >
                    <option ng-repeat='layer in model.available_layers' value={{layer._id}}>{{layer.layer_type}}</option>
                </select>
            </div>

        </div>

    </div>

    <div class="text-center container">

        <video id="player"
               preload="auto"
               width="50%"
               src="{{model.video}}"
               controls>
        </video>

        <cm-timeline></cm-timeline>
    </div>

</div>



