<div ng-controller="EvidenceCtrl" ng-show='isLogged()' ng-init="model.popQueueElement()">
    <div class="container-fluid">
        <div class="row top-padding">
            <div class="col-lg-2 col-md-pull-0 col-xs-pull-0">
            </div>
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div id="video-container">
                    <div id="transparent-plan"></div>
                    <video id="player"
                        cm-video-player
                        ng-src={{model.video}}
                        height="360px">
                    </video>
                    <div class="controls">
                        <div id="play-button">
                            <button type="button" class="video-control" id="play-pause"
                            ng-click="model.toggle_play()">
                            {{ model.play_label }}
                            </button>
                        </div>
                        <div id="control-bar" title="Drag to reference frame">
                        <div id="controlsoverlay">
                            <input width="100%" type="range" id="seek-bar"
                            min="{{ model.infbndsec }}" max="{{ model.supbndsec }}"
                            step="{{ (model.supbndsec - model.infbndsec) / 400 }}" ng-model="model.current_time">
                        </div>
                    </div>
                    <div id="time-display">
                        <label>{{ model.current_time_display }}</label>
                    </div>
                </div>
            </div>
        </div>
        <span style="float: right" ng-show="model.isDisplayedVideo">
            <div id="evidence_button_id" style="margin-top: 30px;margin-left: -180px;" alt="">
                <input class="image-button" type="image" src="../img/validate.png"  value="Evidence" ng-click="model.saveQueueElement(true, false)" width="90px" height="90px">
            </div>
            <div id="not_evidence_button_id" style="margin-top: 60px;;margin-left: -180px;">
                <input class="image-button" type="image" src="../img/un validate.png" value="Not Evidence" ng-click="model.saveQueueElement(false, false)" width="90px" height="90px">
            </div>
            <div id="evidence_button_id_and_ciao" style="margin-top: 90px;margin-left: -180px;" alt="">
                <input class="image-button" type="image" src="../img/validate.png"  value="Evidence" ng-click="model.saveQueueElement(true, true)" width="30px" height="30px">
            </div>
            <div id="not_evidence_button_id_and_ciao" style="margin-top: 120px;;margin-left: -180px;">
                <input class="image-button" type="image" src="../img/un validate.png" value="Not Evidence" ng-click="model.saveQueueElement(false, true)" width="30px" height="30px">
            </div>
        </span>
    </div>
</div>
<div class="container-fluid" ng-show="model.isDisplayedVideo" style="margin-top: 30px;margin-left: 85px;">
    <div class="col-lg-1 col-md-pull-0 col-xs-pull-0">
    </div>
    <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="input-group">
            <span class="input-group-addon" data-title="Enter your own annotation here"><b>Element:</b></span>
            <form ng-submit="model.addEntry()" class="ng-pristine ng-valid">
                <input id="entry_input" type="text" style="font-size:25px;height:50px;" class="form-control ui-autocomplete-input ng-pristine ng-valid" ng-model="model.user_input.person_name" >
            </form>
        </div>
    </div>
</div>
</div>