
<div ng-controller="FusionCtrl">

    <div class="form-group container">

        <div class="container">

            <!-- Corpus selection -->
            <div class="col-xs-6 cm-selector">
                <label>Corpus: </label>
                <select class="form-control" ng-model='model.selected_corpus' ng-init="get_corpora()">
                    <option ng-repeat='corpus in model.available_corpora' value={{corpus._id}}>{{corpus.name}}</option>
                </select>
            </div>

            <!-- Medium selection -->
            <div class="col-xs-6 cm-selector" ng-show='model.selected_corpus'>
                <label>Media: </label>
                <select class="form-control" ng-model='model.selected_medium'>
                    <option ng-repeat='medium in model.available_media' value={{medium._id}}>{{medium.name}}</option>
                </select>
            </div>

        </div>

        <div class="container" ng-show='model.selected_medium'>

            <!-- Reference selection -->
            <div class="col-xs-6 cm-selector">
                <label>Reference: </label>
                <select class="form-control" ng-model='model.selected_reference' >
                    <option ng-repeat='layer in model.available_layers' value={{layer._id}}>{{layer.layer_type}}</option>
                </select>
            </div>

            <!-- Multimodal system -->
            <div class="col-xs-6 cm-selector">
                <label>Fusion: </label>
                <select class="form-control" ng-model='model.selected_hypothesis' >
                    <option ng-repeat='layer in model.available_layers' value={{layer._id}}>{{layer.layer_type}}</option>
                </select>
            </div>

            <!-- LayerId not used, as we want to bind to the parent scope -->
            <div ng-repeat='layerId in model.selected_monomodal'>
                <div class="col-xs-12 cm-selector">
                    <label>Component #{{$index+1}}: </label>
                    <select
                        class="form-control"
                        ng-model='model.selected_monomodal[$index]'
                        ng-options='layer._id as layer.layer_type for layer in model.available_layers'
                    ></select>
                </div>
            </div>
            <div class="col-xs-12 cm-selector">
                <label>Show Component: </label>
                <select class="form-control" ng-model='model.monomodal_id' ng-change='addMonomodal()'>
                    <option ng-repeat='layer in model.available_layers' value={{layer._id}}>{{layer.layer_type}}</option>
                </select>
            </div>


        </div>

    </div>

    <div class="text-center container">
        
        <video id="player"
               preload="auto"
               width="50%"
               src="{{model.video}}"
               controls
               ng-show="model.selected_medium">
        </video>

        <cm-timeline ng-show="model.selected_medium"></cm-timeline>
    </div>

</div>



