<div class="row">
	<div class="twelve columns">
		<h3>Database Inspector</h3>
			<!--nested structure : - controller for each level in (corpus, media, layer, annotation)-->
												 <!--- for each level, toggable title (angular class) that opens the level details (feeds the ng-repeat)-->
												 <!--- each element recursively implements this principle-->
			<div ng-controller="CorpusCtrl" class="panel">
				<div class="cm-toggable" opened="model.corpusOpened">
					<div class="title">{{model.corpusTitle}}</div>
				</div>
				<div ng-repeat="corpus in model.corpuses">
					<div class="elem">{{corpus | json}}</div>
					<div ng-controller="MediaCtrl" class="panel whiteclr">
						<div class="cm-toggable" opened="model.mediaOpened">
							<div class="title">{{model.mediaTitle}}</div>
						</div>
						<div ng-repeat="media in model.media">
							<div class="elem">{{media | json}}</div>
							<div ng-controller="LayerCtrl" class="panel">
								<div class="cm-toggable" opened="model.layerOpened">
									<div class="title">{{model.layerTitle}}</div>
								</div>
								<div ng-repeat="layer in model.layers">
									<div class="elem">{{layer | json}}</div>
									<div ng-controller="AnnotationCtrl" class="panel whiteclr">
										<div class="cm-toggable" opened="model.annotationOpened">
											<div class="title">{{model.annotationTitle}}</div>
										</div>
										<div ng-repeat="annotation in model.annotations">
											<div class="elem">{{annotation | json}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>


