<div ng-controller="labelCtrl"
    ng-show='isLogged()'
    ng-init="model.popQueueElement()">
    <div ng-show="validating" class="container">
        Looking for a new annotation...
    </div>
    <div ng-hide="validating" class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="video-container">
                    <video ng-src={{model.video}}
                        autoplay id="player"
                        cm-video-player
                        width="100%"
                        class="tutorial"
                        data-toggle="popover"
                        data-trigger="manual"
                        data-container="body"
                        data-placement="left"
                        data-html="true"
                        title="Step 1"
                        data-content="Carefully watch and listen to the video. Use <kbd>SPACE</kbd> to play and pause.">
                    </video>
                </div>
                <br/>
                <div class="row tutorial"
                    data-toggle="popover"
                    data-trigger="manual"
                    data-container="body"
                    data-placement="top"
                    data-html="true"
                    title="Step 3"
                    data-content="Click on missing speaking faces or type in their name and press <kbd>ENTER</kbd>. Click the question mark face if you do not know the name of the speaking face.">
                    <div class="col-md-12">
                        <form ng-submit="manualAddPerson(selected)" class="">
                            <input id="personNameInput"
                                   type="text"
                                   ng-model="selected"
                                   typeahead="personName for personName in cache.mugshots | filter:$viewValue | limitTo:8"
                                   class="form-control input-lg"
                                   placeholder="firstname_lastname">
                        </form>
                    </div>
                    <div class="col-md-12">
                        <img ng-repeat="personName in model.candidates"
                        tooltip="{{ personName }}"
                        tooltip-placement="bottom"
                        src="{{ cache.png[personName] }}"
                        height="80px"
                        width="80px"
                        ng-click="addPerson(personName)" />
                        <img src="../img/new.png" 
                             height="80px"
                             width="80px"
                             title="unknown"
                             ng-click="addUnknown()" />
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-1 tutorial"
                        data-toggle="popover"
                        data-trigger="manual"
                        data-container="body"
                        data-placement="left"
                        data-html="true"
                        title="<kbd>ESC</kbd>"
                        data-content="Skip this annotation if something is wrong with it.">
                        <img ng-click="model.skip()"
                        src="../img/un validate.png"
                        title="skip"
                        width="80px"/>
                    </div>
                    <div class="col-md-1 col-md-offset-10 tutorial"
                        data-toggle="popover"
                        data-trigger="manual"
                        data-container="body"
                        data-placement="left"
                        data-html="true"
                        title="<kbd>ENTER</kbd>"
                        data-content="Validate this annotation when you are done.">
                        <img src="../img/validate.png"
                        width="80px"
                        ng-click="model.validate()" />
                    </div>
                </div>

            </div>
            <br/>
            <div class="col-md-6">
                <table class="table table-bordered tutorial" 
                       style="text-align: center" 
                       id="clickable-table"
                       data-toggle="popover"
                       data-trigger="manual"
                       data-container="body"
                       data-placement="bottom"
                       title="Step 2"
                       data-html="true"
                       data-content="Decide whether each person is <ul><li>NOT visible</li><li>visible but NOT speaking</li><li>visible AND speaking (must hear their voice)</li></ul>
                       Select ? if you are not sure.<img src='../img/tutorial.png' width='150px'><br>
                       Shortcut Keys <br>
                       <ul><li><kbd>Up/Down</kbd> change row</li>
                        <li><kbd>Left/Right</kbd> change column</li></ul>">
                    <thead>
                        <tr class="active">
                            <td>
                                <img data-toggle="tooltip"
                                title="I am not quite sure"
                                data-placement="bottom"
                                src="../img/dontKnow.png"
                                width="80px"
                                height="80px" />
                            </td>
                            <td>
                                <img title="Person is NOT visible"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                src="../img/noFace.png"
                                width="80px"
                                height="80px" />
                            </td>
                            <td>
                                <img title="Person is visible, but NOT speaking"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                src="../img/silentFace.png"
                                width="80px"
                                height="80px" />
                            </td>
                            <td>
                                <img title="Person is visible AND speaking"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                src="../img/speakingFace.png"
                                width="80px"
                                height="80px" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="personName in model.input.hypothesis" id="{{personName}}" class="hypothesis" ng-class='{highlighted:$first}'>
                            <td ng-repeat ="state in ['dontKnow', 'noFace', 'silentFace', 'speakingFace']"
                                id="{{ $index + personName }}"
                                ng-click="setFaceState(personName, state)"
                                ng-class="{true: 'checked' , false: 'unchecked'}[model.output.known[personName] == state]"
                                class="{{state}}">
                                <img ng-show="model.output.known[personName] == state"
                                tooltip="{{ personName }}"
                                tooltip-placement="bottom"
                                src="{{ cache.png[personName] }}"
                                width="80px"
                                height="80px" />
                            </td>
                        </tr>
                        <tr ng-repeat="personName in model.missing" id="{{personName}}" class="missing" ng-class='{highlighted:$last}'>
                            <td ng-repeat="state in ['dontKnow', 'noFace', 'silentFace']"
                                id="{{ state + personName }}"
                                ng-click="removePerson(personName)">
                            </td>
                            <td>
                                <img tooltip="{{ personName }}"
                                src="{{ cache.png[personName] }}" width="80px" height="80px" />
                            </td>
                        </tr>
                        <tr ng-if="model.output.unknown" class="unknown highlighted">
                            <td ng-repeat="state in ['dontKnow', 'noFace', 'silentFace']"
                                ng-click="removeUnknown()">
                            </td>
                            <td>
                                <img src="../img/new.png"
                                width="80px" height="80px" />
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>