<div ng-controller="labelCtrl"
    ng-show='isLogged()'
    ng-init="model.popQueueElement()">
    <div ng-show="validating" class="container-fluid">
        Looking for a new annotation...
    </div>
    <div ng-hide="validating" class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div id="video-container">
                    <video autoplay id="player"
                        cm-video-player
                        ng-src={{model.video}}
                        height="360px">
                    </video>
                    <div class="controls">
                        <div id="play-button">
                            <button type="button" class="video-control" id="play-pause"
                            ng-click="model.toggle_play()">
                            {{ model.play_label }}
                            </button>
                        </div>
                        <div id="control-bar">
                            <div id="controlsoverlay">
                                <input width="100%" type="range" id="seek-bar"
                                min="{{ model.infbndsec }}" max="{{ model.supbndsec }}"
                                step="{{ (model.supbndsec - model.infbndsec) / 400 }}"
                                ng-model="model.current_time">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered table-hover" id="clickable-table">
                    <thead>
                        <tr class="active">
                            <td style="text-align: center">
                                <b>Don't know</b>
                            </td>
                            <td style="text-align: center">
                                <b>No face</b>
                            </td>
                            <td style="text-align: center">
                                <b>Silent face</b>
                            </td>
                            <td style="text-align: center">
                                <b>Speaking face</b>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="personName in model.input.hypothesis">
                            <td ng-repeat="state in ['dontKnow', 'noFace', 'silentFace', 'speakingFace']"
                                id="{{ state + personName }}"
                                ng-click="setFaceState(personName, state)"
                                style="text-align: center">
                                <img ng-show="model.output.known[personName] == state"
                                     title="{{ personName }}"
                                     src="{{ cache.png[personName] }}" />
                            </td>
                        </tr>
                        <tr ng-repeat="personName in model.missing">
                            <td ng-repeat="state in ['dontKnow', 'noFace', 'silentFace']"
                                id="{{ state + personName }}"
                                ng-click="removePerson(personName)"
                                style="text-align: center">
                            </td>
                            <td>
                                <img title="{{ personName }}" 
                                     src="{{ cache.png[personName] }}" />
                            </td>
                        </tr>
                        <tr ng-if="model.output.unknown">
                            <td ng-repeat="state in ['dontKnow', 'noFace', 'silentFace']"
                                ng-click="removeUnknown()"
                                style="text-align: center">
                            </td>
                            <td>
                                <img src="../img/new.png" 
                                     title="unknown"
                                     height="100px" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row row-horizon">
                    <img ng-repeat="personName in model.candidates" 
                         title="{{ personName }}"
                         src="{{ cache.png[personName] }}"
                         ng-click="addPerson(personName)" />
                </div>
            </div>
            <div class="col-md-1">
                <img src="../img/new.png" 
                     title="unknown" 
                     ng-click="addUnknown()" />
            </div>
            <div class="col-md-1">
                <img src="../img/validate.png" 
                     title="validate" width="80px"
                     ng-click="model.validate()" />                
            </div>
            <div class="col-md-1">
                <img src="../img/un validate.png" 
                     title="skip" width="80px"
                     ng-click="model.skip()" />
            </div>
        </div>
    </div>
    
</div>