<div ng-controller="RegressionCtrl"  ng-show='isLogged()'>

    <div class="form-group container">

        <div class="container">

            <!-- Corpus selection -->
            <div class="col-xs-6 cm-selector">
                <label>Corpus: </label>
                <select class="form-control" ng-model='model.selected_corpus' ng-init="get_corpora()">
                    <option ng-repeat='corpus in model.available_corpora | orderBy : "name"' value={{corpus._id}}>{{corpus.name}}</option>
                </select>
            </div>

            <!-- Medium selection -->
            <div class="col-xs-6 cm-selector" ng-show='model.selected_corpus'>
                <label>Media: </label>
                <select class="form-control" ng-model='model.selected_medium'>
                    <option ng-repeat='medium in model.available_media | orderBy : "name"' value={{medium._id}}>{{medium.name}}</option>
                </select>
            </div>

        </div>

        <div class="container">

            <!-- Reference selection -->
            <div class="col-xs-4 cm-selector" ng-show='model.selected_medium'>
                <label>Reference: </label>
                <select class="form-control" ng-model='model.selected_reference'>
                    <option ng-repeat='layer in model.available_layers | orderBy : "layer_type"' value={{layer._id}}>{{layer.name}}
                    </option>
                </select>
            </div>

            <!-- First hypothesis selection -->
            <div class="col-xs-4 cm-selector" ng-show='model.selected_medium'>
                <label>1st Hypothesis: </label>
                <select class="form-control" ng-model='model.selected_before'>
                    <option ng-repeat='layer in model.available_layers | orderBy : "layer_type"' value={{layer._id}}>{{layer.name}}
                    </option>
                </select>
            </div>

            <!-- Second hypothesis selection -->
            <div class="col-xs-4 cm-selector" ng-show='model.selected_medium'>
                <label>2nd Hypothesis: </label>
                <select class="form-control" ng-model='model.selected_after'>
                    <option ng-repeat='layer in model.available_layers | orderBy : "layer_type"' value={{layer._id}}>{{layer.name}}
                    </option>
                </select>
            </div>

        </div>

    </div>


    <div class="container-fluid" ng-show="model.selected_medium">

        <div class="row top-padding">
            <div class="col-lg-1 col-md-pull-0 col-xs-pull-0">
            </div>
            <div class="col-lg-7 col-md-12 col-xs-12">
                <div id="video-container" >
                    <!-- video player behaviour managed by cm-video-player angular attribute -->
                    <video id="player"
                           cm-video-player
                           ng-src={{model.video}}
                           height="360px">
                    </video>
                    <div class="controls">
                        <div id="play-button">
                            <button type="button" class="video-control" id="play-pause"
                                    ng-click="model.toggle_play()">
                                {{ model.play_label }}
                            </button>
                            <!-- use directive for quite simple way to indicate annotation to perform -->
                            <!-- + extensible for reference layer and controls for extension to x seconds -->
                        </div>
                        <!--!!! KNOWN PROBLEM WITH INPUT RANGE TYPE-->
                        <!--see https://github.com/angular/angular.js/issues/6726-->
                        <div id="control-bar">
                            <div id="controlsoverlay">
                                <input width="100%" type="range" id="seek-bar"
                                       min="{{ model.infbndsec }}" max="{{ model.supbndsec }}"
                                       step="{{ (model.supbndsec - model.infbndsec) / 400 }}" ng-model="model.current_time">
                            </div>
                        </div>
                        <div id="time-display">
                            <label>{{ model.current_time_display }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-6">
                <label>Restrict playback to annotations:</label>
                <button type="button" class="btn btn-default"
                        ng-disabled="model.restrict_toggle === 0 || model.restrict_toggle === undefined"
                        blurbtn ng-model="model.restrict_toggle"
                        data-true-value="2" data-false-value="1" bs-checkbox>Toggle
                </button>
            </div>
        </div>

        <div class="row top-padding">
            <svg cm-timeline cm-context-menu></svg>
        </div>

    </div>


    <div id="detailedView" class="container">

        <!--<button ng-click="displayPiechart()" ng-show='model.selected_hypothesis'>Display piechart</button>-->
        <p class="col-xs-6 cm-selector" ng-show='model.selected_after'>
            <label ng-show='model.selected_after'>Display a summary with:</label>

            <select class="form-control" ng-click="displayRepresentation()" ng-show='model.selected_after'
                    ng-model="model.selectedSummary" value="nothing" style="width: 200px;">
                <option value="" disabled>-- Select a representation --</option>
                <option value="nothing">nothing</option>
                <option value="piechart">a Piechart</option>
                <option value="barchart">a Barchart</option>
                <option value="treemap">a Treemap</option>
            </select>


        </p>

        <p>
            <select class="form-control" ng-model='model.selected_layer'
                    ng-show='model.display_piechart || model.display_barchart || model.display_treemap'
                    style="width: 200px;">
                <option value='' disabled>-- Select a layer --</option>
                <option ng-repeat='layer in model.layers' value={{$index}}>{{layer.label}}</option>
            </select>
        </p>

        <!--<p class="container">-->
        <!--<p class="col-md-11">-->
        <!--<cm-piechart ng-show="model.display_piechart" width="0px" height="0px"></cm-piechart>-->
        <!--<cm-barchart ng-show="model.display_barchart" width="0px" height="0px"></cm-barchart>-->
        <!--<cm-treemap ng-show="model.display_treemap" width="0px" height="0px"></cm-treemap>-->
        <!--</p>-->
        <!--<p class="col-md-1">-->
        <!--<cm-piechart-legend ng-show="model.display_piechart  || model.display_barchart || model.display_treemap"-->
        <!--width="0px" height="0px"></cm-piechart-legend>-->
        <!--</p>-->
        <!--</p>-->

        <table id="table-summary-view" class="container">
            <tbody>

            <tr>
                <td style="vertical-align:top;">
                    <cm-piechart ng-show="model.display_piechart" width="0px" height="0px"></cm-piechart>
                    <cm-barchart ng-show="model.display_barchart" width="0px" height="0px"></cm-barchart>
                    <cm-treemap ng-show="model.display_treemap" width="0px" height="0px"></cm-treemap>
                </td>
                <td style="vertical-align:top;">
                    <cm-legend ng-show="model.display_piechart  || model.display_barchart || model.display_treemap"
                                        width="0px" height="0px"></cm-legend>
                </td>
            </tr>

            </tbody>

        </table>
        <div id="Detail"></div>

    </div>

    <!-- Added behaviour in cm-edit-modal angular class. -->
    <div class="modal cm-edit-modal" id="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit element</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="item in model.edit_items">
                        <label id="item-id">{{ item.id }}</label>
                        <input type="text" id="item-value" ng-model="item.value"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="model.edit_save()">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!--Context menu hidden by default. Triggered on Right click to .annot rect elements (see timeline directive)-->
    <div id="contextMenu" class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
            style="display:block;position:static;margin-bottom:5px;">
            <li><a tabindex="-1" href="" ng-click="model.edit_click()">
                <image src="{{ model.absUrl }}/img/Edit_document.ico" align="left" width="20" height="20" style="margin-left:-15px;margin-right:5px;"></image>
                Edit
            </a>
            </li>
            <li><a tabindex="-1" href="" ng-click="model.remove_click()">
                <image src="{{ model.absUrl }}/img/Delete.ico" align="left" width="20" height="20" style="margin-left:-17px;margin-right:7px;"></image>
                Remove
            </a>
            </li>
        </ul>
    </div>


</div>



