<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <title>MediaEval Person Discovery Task</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-horizon/bootstrap-horizon.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"></script>

    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/sticky-footer-navbar.css"/>

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <script src="bower_components/js-cookie/src/js.cookie.js"></script>

    <script src="bower_components/d3/d3.js"></script>

    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="./bower_components/async/lib/async.js"></script>


    <!-- Modules-->
    <script src="lib/camomile-client-javascript/fermata.js"></script>
    <script src="lib/camomile-client-javascript/camomile.js"></script>

    <!-- Modules-->
    <script src="js/app.js"></script>

    <!-- Services-->
    <script src="js/services/defaults.js"></script>
    <script src="js/services/dateUtils.js"></script>
    <script src="js/services/session.js"></script>
    <script src="js/services/camomileService.js"></script>


    <!-- Filters-->
    <script src="js/filters.js"></script>

    <!-- Directives-->
    <script src="js/directives/cmVideoPlayer.js"></script>

    <!-- Controllers-->
    <script src="js/controllers/commonCtrl.js"></script>
    <script src="js/controllers/parameterButtonCtrl.js"></script>
    <script src="js/controllers/sessionCtrl.js"></script>
    <script src="js/controllers/labelCtrl.js"></script>


</head>
<body>

<!-- Wrap all page content here -->
<div id="wrap">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MediaEval</a>
            </div>
            <div class="navbar-collapse collapse">

                <div ng-controller="SessionCtrl">

                    <div ng-if="isLogged()">
                        <form ng-submit="logout()" class="navbar-form navbar-right">
                            <div class="form-group">
                                <p class="form-control-static cm-infomsg">{{ model.message }}</p>
                            </div>
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>

                        <div ng-controller="ParameterButtonCtrl">
                            <form ng-submit="saveVideoPreferences()" class="navbar-form navbar-left">
                                <input type="text"
                                       id="localServerInput" 
                                       class="form-control tutorial" 
                                       ng-model="model.videoPath" 
                                       placeholder="Local video server"
                                       data-toggle="popover"
                                       data-trigger="manual"
                                       data-container="body"
                                       data-placement="bottom"
                                       data-html="true"
                                       title="Step 0 (do this once)"
                                       data-content="Type in URL of local video server, press <kbd>ENTER</kbd> and refresh.">
                            </form>
                        </div>
                        <div>
                            <form ng-submit="toggleTutorial()" class="navbar-form navbar-left">
                                <button type="submit" class="btn btn-primary">Tutorial</button>
                            </form>
                        </div>
                    </div>

                    <div ng-if="!isLogged()">

                        <form name="login-form" id="login-form" method="POST" action="" style="display: none;">
                            <input name="login" id="login-login" type="text">
                            <input name="password" id="login-password" type="password">
                        </form>

                        <form name="login-form" autocomplete="on" ng-login-submit="login" action=""
                              message="model.message" class="navbar-form navbar-right">
                            <div class="form-group">
                                <p class="form-control-static cm-errmsg">{{ message }}</p>
                            </div>
                            <div class="form-group">
                                <input id="login" name="login" type="text" autocomplete="on"
                                       placeholder="Login" class="form-control" style="width:160px;">
                            </div>

                            <div class="form-group">
                                <input id="password" name="password" type="password" autocomplete="on"
                                       placeholder="Password" class="form-control" style="width:160px;">
                            </div>
                            <button type="submit" class="btn btn-success">Sign in</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        <div ng-view>
        </div>

    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted credit"><a href="http://camomile.limsi.fr/">Camomile Project</a></p>
    </div>
</div>

</body>
</html>
